body{
    background-color: #eee;
    font-family: sans-serif;
    /* background-image: linear-gradient(to bottom, #8c919b, #879ca4, #86a6a3, #95ae9a, #b1b191); */
}   

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: brown;
}
.load{
    font-weight: bold;
    margin-top: 10px;
}
.buscarRepo{
    margin-top: 20px;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
}
img{
    width: 90px;
    float: left;
    margin-right:10px ;
    margin-top: 40px;
}

.user{
    margin-top:-20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style: none;
}
.data{
    padding-top: 40px;
    margin-top: 2px; 
    display:flex;
    justify-content: center;
    flex-direction: column; 
}

.repo{
    font-weight: bold;
    padding-top: 60px;
}
#ulList{
    display: flex;
    flex-direction: column;
    margin-left:498px;
    margin-top: 25px;
}