body{
    background-color: #eee;
    font-family: sans-serif;
    /* background-image: linear-gradient(to bottom, #8c919b, #879ca4, #86a6a3, #95ae9a, #b1b191); */

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}   

.title{
    color: brown;
}

.input{
    height: 35px;
    width: 250px;
}

button{
    height: 35px;
    width: 70px;
}

.load{
    font-weight: bold;
    margin-top: 10px;
}

#ContainerUser{
    display: flex;
    flex: 1;
    flex-direction: row; 
    align-items: center;
    margin-top: 2%;
}   

img{
    width: 130px;
    margin-right: 10px;
    border-radius: 90px;
}

.titleRepo{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

    font-weight: bold;
    font-size: 2rem;
}

li {
    list-style-type: none;
  }

  .data span{
    font-size: 18px;
  }

  .render li{
    font-size: 18px;
  }