body{
    background-image: linear-gradient(to bottom, #8c919b, #879ca4, #86a6a3, #95ae9a, #b1b191);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: brown;
}

.buscarRepo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}